body {
	font-family: "georgia";
	font-size: 12px;
	background-image: url('http://images.fanpop.com/images/image_uploads/asleep-calvin--26-hobbes-318680_1024_768.jpg');
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 30%;
	background-attachment: fixed;
}

div {
	position: relative;
	display: inline-block;
	width: 300px;
	padding: 20px;
	vertical-align: top;
}

h5 {
	color: #c0c0c0;
}

a:link {
	color: #ff9900;
	text-decoration: none;
}

a:visited {
	color: #FFB84D;
	text-decoration: none;
}

a:hover {
	color: #ff0000;
	text-decoration: none;
}